:root {
    --pomodoro: #f54e4e;
    --shortBreak: #38b688;
    --longBreak: #70a7fe;
    --white: #fff;
    --black: #000;
}

html {
    font-family: 'Space Grotesk', sans-serif;
}

button{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}

/*ICONS*/
.fa-solid {
    font-size: 20px;
    transition: transform 0.2s ease-in-out;
}

.fa-solid:active{
    transform: scale(0.7);
}

/*HEADER*/
header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.header-content {
    display: flex;
    align-items: center;
}

h2{  
    margin: 0;
    font-size: 30px;
}

#logo{
    height:auto;
    width: 60px;
    margin-right: 12px;
}
/*HEADER END*/

/*MAIN*/

.timer{
    width: 100%;
    height: 230px;
    background-color: var(--pomodoro);
    border: 2px solid var(--black);
    border-radius: 15px;
    padding: 25px;
    text-align: center;
}

.mode-button {
    margin: 0px;
    padding: 2px 12px;
    height: 28px;
    font-size: 11px;
    background: var(--white);
    color: var(--black);
    box-shadow: none;
    border: 1.5px solid var(--black);
    border-radius: 40px;
}

.mode-button.active {
    background: var(--black);
    color: var(--white)
  }
  
.clock{
    font-size: 4.6rem;
    font-weight: 450;
    display: flex;
    justify-content: center;
}

.controller {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.start-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    width: 100px;
    height: 35px;
    background-color: var(--white);
    font-size: 17px;
    color: var(--black);
    border: 2px solid var(--black);
    box-shadow: 0px .4em 0 0 var(--black);
    border-radius: 20px;
    transition: transform 150ms linear, box-shadow 150ms linear ;
}

.start-button:active{
    box-shadow: 0 .20em 0 0 var(--black);
    transform: translate(0, 0.30em);
}

.fa-arrows-rotate{
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.fa-arrows-rotate:hover { 
    transform: rotate(360deg) scale(1.2);
}

.tomato-icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    gap: 8px;
}

.tomato-icon {
    width: 25px; 
    height: auto;
}

.fa-tomato{
    color: var(--pomodoro);
}

.input-container{
    width: 100%;
    min-height: 50px;
    padding: 30px 10px 14px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-bottom: 1.5px solid var(--black);
}

.task-input{
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    width: 90%;
    font-size: 13px;
    font-weight: 500;
}

.task-list{
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 0 14px 0 18px;
    margin: 16px 0;
    background-color: transparent;
    border: 1.5px solid var(--black);
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    transition: all 0.4s ease;
}

.task.fall {
    animation: fallAnimation 0.5s forwards;
  }
  
  @keyframes fallAnimation {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(100px) rotate(20deg);
      opacity: 0;
    }
  }

.task li{
    flex: 1;
}

.completed-task{
    opacity: 0.5;
}

.cross-out{
    text-decoration: line-through;
}

.fa-circle-plus{
    font-size: 24px;
    color: var(--black);
    cursor: pointer;
}

.fa-check{
    cursor: pointer;
    font-size: 13px;
    margin-right: 12px;
}

.fa-trash{
    cursor: pointer;
    font-size: 12px;
}

/*MAIN END*/
/*FOOTER*/
.footer{
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 13px;
}

.fa-github {
    color: var(--black);
    font-size: 16px;
    transition: transform 0.3s ease-in-out;
}
  
.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}
/*FOOTER END*/

@media screen and (max-width: 768px) {
    /*For mobile phone*/
    h2{
      font-size: 25px;
    }
    
    #logo{
        height:auto;
        width: 45px;
        margin-right: 12px;
    }

    .timer {
      padding: 25px;
      width: 100%;
      height: auto;
    }
  
    .clock {
      font-size: 3.2rem;
    }
  
    .mode-button {
      padding: 2px 8px;
      height: 24px;
      font-size: 10px;
    }
  
    .start-button {
      width: 80px;
      height: 36px;
      font-size: 16px;
    }
}